@{
    ViewData["Title"] = "References";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@if (ViewData["Subscribe"] != null)
{
    <h3>Thank you for the comment, @ViewData["name"]</h3>
    <p>Here is the message you added, @ViewData["message"]</p>
}

<form asp-controller="References" asp-action="Index" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="message" placeholder="Message">
    <input type="email" name="email" placeholder="Email">
    <input type="text" name="website" placeholder="Website">
    <button type="submit">Submit</button>
</form>
